
3l_Cherevko_Anton/3l_Cherevko_Anton.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

*.plist

2L_Cherevko.Anton/2L_Cherevko.Anton.xcodeproj/

3l_Cherevko_Anton/3l_Cherevko_Anton.xcodeproj/

4l_Cherevko/4l_Cherevko.xcodeproj/project.pbxproj
