
2L_Cherevko.Anton/2L_Cherevko.Anton.xcodeproj/xcuserdata/antn.xcuserdatad/xcschemes/xcschememanagement.plist

2L_Cherevko.Anton/2L_Cherevko.Anton.xcodeproj/project.pbxproj

2L_Cherevko.Anton/2L_Cherevko.Anton.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
